
.dataModify {
    margin : 1rem auto;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius : 15px;
    background-color: rgba(156, 163, 180, 0.14);
  }
  
  .dataModify form {
    display: flex;
    margin-bottom: 1rem;
  }
  
  .dataModify input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius : 15px
  }
  .dataModify input::placeholder {
    text-align: center;
  }
  .dataModify ul {
    list-style-type: none;
    padding: 10px;
    text-align: center;
  }
  
  .dataModify li {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 0.5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius : 15px
  }
  .dataModify button {
    /* ... (existing button styles) */
    margin-left: 1rem;
  }