/* SliderCard.css */
.sliderCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(156, 163, 180, 0.14);
    border-radius : 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .logoImage {
    background-size: cover;
    max-width: 350px;
    max-height: 350px;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 5px 5px 10px rgba(180, 156, 158, 0.673);
    margin-bottom: 15px;
  }
  
  .cardContent {
    text-align: center;
    margin-top: 10px;
  }
  
  .description {
    font-weight: 300;
  }
  
  .bio {
    
  }